<section class="container main-body">
  <div class="des-image">
    <%= image_tag('solar-logo.jpg') %>
  </div>
  
  <h2 class="solar-click">
    CNA SolarHub
  </h2>
  <hr>
  <p class="solar-hub-text">
    We are a one-stop marketplace that allows our customers to conveniently purchase highly reliable inverters and solar energy systems at affordable prices.
    <br>
    <br>
    We are focused on three major things:
    <ul>
      <li class="solar-lists">
        Our passion for providing alternative power solutions to Nigerians.
      </li>
      <li class="solar-lists">
        Commitment to ensuring our customers buy products with commensurate value for money.
      </li>
	    <li class="solar-lists">
        Enabling the accessibility of affordable alternative power solutions to Nigerians with a specific focus on Solar energy. 
      </li>
    </ul>
  </p>

  <br>

  <h3 class="cna-services">
    Our Services
  </h5>
  <hr>
  <p class="solar-hub-text">
    <ul>
      <li class="solar-lists">
        Sales and supply of photovoltaic batteries and solar panels.
      </li>
      <li class="solar-lists">
        Repair and maintenance of existing solar syatems.
      </li>
	    <li class="solar-lists">
        Residential Installations. 
      </li>
      <li class="solar-lists">
        Commercial Installations.
      </li>
    </ul>
  </p>  
</section>