<!DOCTYPE html>
<html>
  <head>
    <title>CNA Building Solutions Limited</title>
    <%= render 'partials/head'%>
  </head>

  <body>
    <%= render './partials/header'%>
    <%= yield %>
    <%= render './partials/footer'%>
  </body>
</html>
